<form method="post" action="{{ path('rating_new', {'id': movie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="INSERT">
    <input type="hidden" name="_token" value="{{ csrf_token('new' ~ movie.ratings.add(1)) }}">
    <button class="btn">1</button>
</form>